
#mr-egg-sushi {
    width: 300px;
    height: 300px;
    animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite, pulsate-fwd 0.5s ease-in-out infinite both,bounce-top 0.9s both/*, vibrate-3 0.5s linear infinite both*/;;
}

.club-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.club {
    animation: color-change-3x 4s linear infinite alternate both;
}
.club:hover{
    animation: color-change-3x 4s linear infinite alternate both,shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}

@keyframes color-change-3x {
    0% {
        background: #19dcea;
    }
    10% {
        background: #5f5e5d;
    }
    20% {
        background: #f7f7f7;
    }
    30% {
        background: blue;
    }
    40% {
        background: #f7f7f7;

    }
    50% {
        background: chartreuse;
    }
    60% {
        background: #faff29;
    }
    70% {
        background: #ea2222;
    }
    80% {
        background: #cd87ff;
    }
    90% {
        background: #9fff6e;
    }
    100% {
        background: #4fff95;
    }
}
@keyframes shake-lr {
    0%,
    100% {
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    10% {
        transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-8deg);
    }
    90% {
        transform: rotate(8deg);
    }
}
@keyframes pulsate-fwd {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*@keyframes vibrate-3 {
     0% {
         transform: translate(0);
     }
     10% {
         transform: translate(-2px, -2px);
     }
     20% {
         transform: translate(2px, -2px);
     }
     30% {
         transform: translate(-2px, 2px);
     }
     40% {
         transform: translate(2px, 2px);
     }
     50% {
         transform: translate(-2px, -2px);
     }
     60% {
         transform: translate(2px, -2px);
     }
     70% {
         transform: translate(-2px, 2px);
     }
     80% {
         transform: translate(-2px, -2px);
     }
     90% {
         transform: translate(2px, -2px);
     }
     100% {
         transform: translate(0);
     }
 }*/
@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}



