
#mr-egg-sushi {
    width: 300px;
    height: 300px;
}
.club-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.club {
    animation: color-change-3x 4s linear infinite alternate both;

}

@keyframes color-change-3x {
    0% {
        background: #19dcea;
    }
    10% {
        background: #5f5e5d;
    }
    20% {
        background: #f7f7f7;
    }
    30% {
        background: blue;
    }
    40% {
        background: #f7f7f7;

    }
    50% {
        background: chartreuse;
    }
    60% {
        background: #faff29;
    }
    70% {
        background: #ea2222;
    }
    80% {
        background: #cd87ff;
    }
    90% {
        background: #9fff6e;
    }
    100% {
        background: #4fff95;
    }
}

